.wrapper {
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px 0 150px 0;
  background-color: skyblue;
  display: flex;
  justify-content: center;
}

.boxContainer {
  border: 5px solid white;
  border-radius: 10px;
  background-color: white;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.text1 {
  margin: 5%;
}

.box {
  height: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.text2 {
  margin: 5%;
}