.layoutWrapper {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  /* grid-template-columns: 33% 33% 33%;
  grid-template-rows:none;
  place-items: center; */
  background: skyblue;
}